.confirm-dialog {
    background: #68686871;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    cursor: default;

    color: black;
}

.confirm-dialog-box {
    padding: 2rem;
    border-radius: .5rem;
    background: white;
}

.confirm-dialog-content {
    margin-block: 1rem 1rem;
}

.confirm-dialog-box footer {
    display: flex;
    justify-content: end;
    gap: .5rem;
}

.confirm-dialog-box footer button {

    cursor: pointer;


    border: 1px solid var(--primary);
    background: transparent;
    border-radius: 20px;

    font-weight: bold;
    padding: 10px 20px;


}