.createForm {
    background-color: grey;
    padding: 1rem;
    border-radius: .3rem;
    color: white;
    display: flex;
    flex-direction: column;
}

.createForm-footer{
    display: flex;
    justify-content: flex-end;
    gap: 1rem
}


.createForm :is(input, textarea)::placeholder {
    color: lightgrey;
}

.createForm :is(input, textarea):focus-visible {
    outline: none;
}

.createForm :is(textarea, input) {
    background-color: transparent;
    color: white;
    resize: none;
    border: none;
    padding: 1rem;

}

.createForm textarea{
    min-height: 5rem
}

.createForm-colorSelector{
    display: flex;
    gap: 10px;
    right: 40px;
    bottom: 80px;
    align-items: center;
}

.createForm-colorButton{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 25%;
    border: 1px solid rgb(121, 121, 121);
    cursor: pointer;
}