.createForm{
    background-color: rgb(65, 158, 65);
    padding: 1rem;
    margin: .75rem 20px;
    border-radius: .3rem;
    color: white;
}

.createPost{
    background-color: #e4e4e45d;
    height: 100vh;
    margin: 0;

}

@media only screen and (min-width: 768px)
  {
    .createForm {
        margin-inline: auto;
        max-width: 50%;
    }
}

textarea::placeholder{
    color: lightgrey;
}
textarea {
    width: 100%;
    background-color: transparent;
    color: white;
    resize: none;
    border: none;

    height: 5rem
}