.createButton {
    background-color: #4848481b;
    color: white;

    text-align: center;
    justify-content: center;
    position: fixed;

    bottom: 5rem;
    left: 50%;
    width: 3rem;
    height: 3rem;
    transform: translate(-1.5rem, 0);

    border: 2px solid #ffffffa2;
    border-radius: 50% 50%;

}