.badge {
    position: relative;
    width: fit-content;
    font-size: .75rem;
    font-weight: 500;
    padding: 5px .75rem;
    margin-top: .75rem;
    margin-inline: .5rem;
    background: transparent;

    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    border-radius: .75rem;
}

.badge-active {
    border-color: var(--primary);
    box-shadow: 0 0 3px 0 var(--primary);
}

.badge-clickable{
    cursor: pointer;
}