.post {
    /* background-color: rgb(65, 158, 65); */
    padding: 1rem;
    /* margin: .75rem 0; */
    cursor: pointer;
    border-radius: .3rem;
    color: white;
}

.header {
    display: flex;
    font-size: .8rem;
}

.header * {
    padding: .2rem .2rem;
    margin-bottom: .5rem
}

.header .delete {
    position: relative;
    margin-left: auto;
    margin-right: .75rem;
    font-size: 1.5;
    cursor: pointer;
    transition: .2s;

}

.header .delete:hover {
    transform: scale(1.3);

}

.channel {
    padding-inline: .5rem;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 1rem;
    margin-right: .5rem;
    margin-bottom: auto;
}

.voting {
    text-align: center;
    width: 3rem;
}

.vote-button {
    background-color: transparent;
    border: none;
    color: white;
    transition: .2s;
}

.vote-button:not([disabled]):hover {
    transform: scale(1.3)
}

.vote-button:not([disabled]):active {
    transform: scale(.9);
    opacity: 50%;
}

.voted {
    transform: scale(1.1);
}

.not-voted {
    transform: scale(.9);
    opacity: 40%;
}

.content {
    margin: .7rem 0;
    line-height: 1.5rem;
    padding-left: .75rem;
    padding-right: 1rem;
    /* word-spacing: 50px; */
    /* letter-spacing: 0.4px; */
}

.middle-block {
    display: grid;
    grid-template-columns: auto 3rem;
}

.comments {
    font-size: .8rem;
}