.footer{
    position: sticky;
    bottom: 0;  
    margin-top: auto;

    background-color: white;
    padding: .75rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);

    text-align: center;
    
}

/* for now this is the same as in Navbar component */
.footerMenuItem {
	font-size:.75rem;
    font-weight: 500;
	padding: 5px .75rem;
	margin-top: .75rem;
    margin-inline: .5rem;

	border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    border-radius: .75rem;
	cursor:pointer;

	display: inline-block;

    text-decoration: none;
}

.footerMenuItem:visited{
    color: inherit;
}

.active {
    border-color: var(--primary);
    box-shadow: 0 0 3px 0 var(--primary);
}