
.navbar{
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 1rem;

    position: sticky;
    top: 0;

}

.headerMenuItem {
	font-size:.75rem;
    font-weight: 500;
	padding: 5px .75rem;
	margin-top: .75rem;
    margin-inline: .5rem;

	border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    border-radius: .75rem;
	/* font-weight:bold; */
	cursor:pointer;

	display: inline-block;
}

.activeSortingItem{
    border-color: var(--primary);
    box-shadow: 0 0 3px 0 var(--primary);
}

