.login {
  align-items: center;
  margin-top: 4rem;

}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.title {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.error {
  border: 1px solid lightgray;
  padding: .5rem;
  border-radius: 5px;
  color: red;
}